.center-section-main-row {
  padding: 5px 0;
  height: 90vh;
}

.left-section-top-row {
  height: 100%;
}

.left-section-top-col {
  background-color: var(--theme-color1);
  opacity: 0.8;
}

.left-section-bottom-col {
  background-color: var(--theme-color2);
  opacity: 0.8
}

.center-section {
  background-color: var(--theme-color3);
  opacity: 0.8
}

.right-section-col {
  /*margin-left: 5px;*/
  background-color: var(--theme-color4);
  opacity: 0.8
}