.header {
  min-height: 10vh;
  background-color: var(--theme_header);
  opacity: 0.8
}

.footer{
  min-height: 12vh;
  background-color: var(--theme_footer);
  opacity: 0.8;
}
.button-container {
  padding: 20px 0;
  text-align: center;
}

.click-button {
  height: 25%;
  border-radius: 25px;
  background-color: #eed571;
  border: transparent;
  color: black;
}